.register-form {
    display: block;
    margin: 50px auto;
    width: 50%;
}

.register-form input:not([type="checkbox"]) {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    margin-bottom: 15px;
}